body {
    margin: 0;
    
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size : 20px;
}
header {
    background-color: #bbd2e1;
    min-height: 60px;
    border-bottom: 2px solid #80d0d0 ;
}

header a {
    float: left;
    color:rgb(95, 99, 122);
    text-decoration: none;
    font-size: 22px;
    padding: 18px;
}

header a.active{
    background-color:#cde1eebd ;
}
header a:hover {
    background-color: #cde1ee;
}

footer{
   min-height: 80px;
   background-color: #bbd2e1;
   border-top: 2px solid #80d0d0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  
}

img {
    max-width: 100%;
  }

hr {
    border-top: 3px solid #30b3b3;
}

h5 {
    text-align:left;
    font-size: 14px;
    color: #30b3b3;
    padding-left: 15px;
    margin-top: 15px;
}

iframe {
    padding: 5%;
    margin: auto;
    
}

.container{
    min-height: 95vh;
    padding: 0px 15% 1px 15%;
   
}
   
.header-logo {
    float: left;
    height: 60px;
    margin: 5px 10px 10px 10px;
}

.centered {
    text-align: center;
   }

.footer-info {
    margin-top: 20px;
    font-size: 14px;
    padding-bottom: 10px;
}

.img-start {    
max-height: 250px;
border: 4px solid #30b3b3; 
box-shadow: 5px 5px 15px grey;
margin: 15px;

    
}
.p-home {
   padding: 20px;
}
.col-4 h2 {
    line-height: 1.2;
    min-height: 2.5em;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;    
}


.align-right {
    text-align: right;
    padding-right: 20px;
    line-height: 2px;
    font-size: 16px;
  }

.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}

[class*="col-"]{
    float: left;
}
.col-new {
    width: 30%;
    float: left;
    box-sizing: border-box;
    background-color: #e0f1f7;
    margin: 2px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #bde2e2;
    color: #30b3b3;
  }

.row {
    overflow: hidden;
}
.row-new {
    
    height: 400px;
}
.container-email {
    display: flex;
     gap: 5px; 
     word-wrap:break-word;
}

 .container-iframe {
        margin: auto;
        padding: 5px;
       
    }

 .hamburger-menu {
    display: none;
    float: right;
 }

.lista-servicii {
    list-style-type: square; 
    padding-left: 20px;
    line-height: 2; 
    font-style: italic;
    
  }

  .pret {
    font-weight: bold;
    color: #19659b; 
    margin-left: 10px;
  }

  .acte {
   list-style-type:disc; 
    font-size: 16px;
    line-height: 1.5;
  }

  .acte-paragraph {
    color: #30b3b3;; 
  
  }

  .p-event {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(38, 170, 170) ;
    padding: 5px;
  }




 @media (max-width: 770px) {
    
    .container {
        padding: 5px 5% 20px 5%;
        
    }
    
    .img-start {
        max-width: 90%;
        margin: auto;
        padding: 1px;
    }
    .p-home {
      padding: 1px;
      
    }


    [class*="col-"] {
    width: 100%;
   
    }
    
   .iframe {
    padding-left: 0%;
    width: 100%;
   }
    

    .nav a {
    display: none;
   }

    a.hamburger-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
   .nav.mobile a {
    float: none;
    display: block;
    text-align:left ;
   }

 .col-new {
       padding: 3%;
       margin: auto;
 }
    
   
 }

